extends ./header.pug
block append head
	meta(
		property="og:image",
		content="https://dev.pokemon.helbling.uk/static/previews/generic.png"
	)
	meta(
		property="twitter:image",
		content="https://dev.pokemon.helbling.uk/static/previews/generic.png"
	)
	meta(property="og:description", content=`Ability: ${primaryName} on the Pokécompanion`)
	meta(name="twitter:description", content=`Ability: ${primaryName} on the Pokécompanion`)

block append body
	.columns
		.column.is-flex
			.card(style="width: 100%")
				.card-header-title
					if primaryLanguage !== secondaryLanguage
						p #{ primaryLanguage } - #{ secondaryLanguage }
					else
						p #{ primaryLanguage }
				.card-content(style="width: 100%")
					.box.accented.nohover
						p #{ flavorText }
					.box.accented.nohover
						p.is-capitalized.has-text-weight-bold #{ game }
						p #{ effectEntry }
		.column.is-flex
			.card.collapsible(style="width: 100%")
				.card-header-title
					p Info
				.card-content(style="width: 100%")
					p.mb-3 Introduced in generation: #{ introduced }
						each change in generationChange
							p.mb-3 #{ change.text }
							.box.accented.nohover
								p #{ change.altEntryEffect }
	.columns
		.column
			.card.collapsible
				.card-header-title
					p Pokémon that can have this ability
				.card-content.m-3
					each pkmn in pokemon
						a.keepQuery(href=`${pkmn.link}`)
							.box.accented.mb-4.searchResult(style="display: flex; align-items: center")
								img.is-48x48.mr-1(
									src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pkmn.id}.png`,
									alt="Pokemon Icon"
								)
								if pkmn.primaryLang === pkmn.secondaryLang
									p.card-text ##{ pkmn.id } #{ pkmn.primaryLang }
								else
									p.card-text ##{ pkmn.id } #{ pkmn.primaryLang } - #{ pkmn.secondaryLang }
