extends ./header.pug
block append head
	meta(
		name="description",
		content="With Pokécompanion you can quickly find the details you need during your playthrough of a mainline Pokémon game - without scrolling past a sea of irrelevant info."
	)
	meta(
		property="og:description",
		content="With Pokécompanion you can quickly find the details you need during your playthrough of a mainline Pokémon game - without scrolling past a sea of irrelevant info."
	)
	meta(
		name="twitter:description",
		content="With Pokécompanion you can quickly find the details you need during your playthrough of a mainline Pokémon game - without scrolling past a sea of irrelevant info."
	)

	meta(
		property="og:image",
		content="https://pokemon.helbling.uk/static/previews/generic.png"
	)
	meta(
		property="twitter:image",
		content="https://pokemon.helbling.uk/static/previews/generic.png"
	)
	script(src="/static/js/index.js")

block append body
	#notice.message.is-warning
		.message-header
			p Notice
			button.delete(onclick="hideNotice();")
		.message-body
			p Generations 8 (BDSP + Legends Arceus) and 9 (Scarlet/Violet) are known to have incomplete datasets and may display inaccurate information. See the #[a(href="https://github.com/PokeAPI/pokeapi/issues?q=is%3Aissue+is%3Aopen+") PokéAPIs Github Page] for more info
	.box
		p.title.is-3 Changelog
		.content
			p.title.is-5 11 February 2023
			ul
				li Implemented Move pages
				li Improved alt-tags across site
				li Tidied "Move" search results
				li Backend support for multi language

			p.title.is-5 09 February 2023
			ul
				li Added social media link previews
				li Updated favicon
				li Readjusted X / Y sprite sizing
				li Synchronised when all gifs on a page will start playing.
					ul
						li Also fixed an issue where sprite descriptions weren't loading
			p#extendChangelog Show more...
			#oldChanges.hidden
				p.title.is-5 04 February 2023
				ul
					li Implemented Ability pages
					li Added description on item page that will state when an Item isn't in the selected game.
					li Corrected move damage classes for Generations 1-3
					li Backend support for different languages in certain areas
				p.title.is-5 29 January 2023
				ul
					li Added dark theme support
					li Implemented Item pages
					li Improved error handling
				p.title.is-5 27 January 2023
				ul
					li Selecting a game will display Pokémon sprites of that generation
					li Caching API responses
				p.title.is-5 12 January 2023
				ul
					li Made Generation 9 entries visible
					li Added support for different Pokémon forms
					li Displayed Pokémon type will be correct for the selected game
