extend  ./header.pug

block append body
    .container.is-max-desktop.pl-6.pr-6
        nav.breadcrumb(aria-label="breadcrumbs")
            ul
                if results
                    li
                        a(href="/") Search
                    li.is-active
                        a #{searchTerm}
                else 
                    li.is-active
                        a(href="/") Search

        form(action="/search", method="get", id="search", onsubmit="addHistory();").pb-3
            input.input(type="text" name="term" placeholder="Search for something!" onsubmit="document.forms['search'].submit()")
            input(type="submit" hidden)
        
        if results
            p.title.is-3 Results for #{searchTerm}

            if results.Pokemon.length !== 0
                p.title.is-4 Pokémon
                div.container#PokemonResults
                    each pokemon in results.Pokemon
                        .card(onclick=`location.href='${pokemon.link}'`).mb-3
                            .card-content
                                figure.container(style="display: flex; align-items: center;")
                                    img.is-48x48(src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`, alt='Pokemon Icon').mr-1
                                    p.mr-3 ##{pokemon.id}
                                    a.card-text(href=`${pokemon.link}`) #{pokemon.german} - #{pokemon.english}
            if results.Items.length !== 0
                p.title.is-4 Items
                div.container#ItemResults
                    each item in results.Items
                        .card(onclick=`location.href='${item.link}'`).mb-3
                            .card-content
                                figure.container(style="display: flex; align-items: center;")
                                    img.is-48x48(src=`${item.sprite}`, style="height: 30px; width: 30px;" alt='Item Icon', onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png'").mr-1
                                    a.card-text(href=`${item.link}`) #{item.german} - #{item.english}
            
            if results.Moves.length !== 0
                p.title.is-4 Moves
                div.container#MoveResults
                    each move in results.Moves
                        .card(onclick=`location.href='${move.link}'`).mb-3
                            .card-content
                                figure.container(style="align-items: center;")
                                    .container(style="display: inline-grid").mr-3
                                        img.icon(src=`${move.attack_type_sprite}`, style="width: 50px; height: 20px;" alt='Move type Icon').pb-1
                                        img.icon(src=`${move.type_sprite}`, alt='Type Icon', style="width: 50px; height: 20px;")
                                    a.card-text(href=`${move.link}`) #{move.german} - #{move.english}

            if results.Abilities.length !== 0
                p.title.is-4 Abilities
                div.container#AbilityResults
                    each ability in results.Abilities
                        .card(onclick=`location.href='${ability.link}'`).mb-3
                            .card-content
                                a.card-text(href=`${ability.link}`) #{ability.german} - #{ability.english}