extend  ./header.pug

block append body
    form(action="/search", method="get", id="search", onsubmit="addHistory();").pb-3
        .field.has-addons
            .control.is-expanded
                input.input(type="text", id="searchBar", name="term" placeholder="Search for something!" onsubmit="document.forms['search'].submit()")
            .control(onclick="openFilter();")
                button.button.is-static(data-target="filters")#filterButton Filters
        
        input(type="submit" hidden)#searchSubmit

        .modal#filterModal(hidden)
            .modal-background(onclick="closeFilter();")
            .modal-card
                .modal-card-body
                    .box
                        p.title.is-5 Types of results
                        .columns
                            .column
                                input(type='checkbox', id='showPokemon', name="pokemon", value="true", checked).mr-2
                                label(for="showPokemon").pr-4 Pokémon
                            .column
                                input(type='checkbox', id='showItems', name="items", value="true", checked).mr-2
                                label(for="showItems").pr-4 Items
                            .column
                                input(type='checkbox', id='showMoves', name="moves", value="true", checked).mr-2
                                label(for="showMoves").pr-4 Moves
                            .column
                                input(type='checkbox', id='showAbilities', name="abilities" value="true", checked).mr-2
                                label(for="showAbilities").pr-4 Abilities
                    .box
                        p.title.is-5 Filter by game
                        .select(form="search", name="game")
                            select(form="search", name="game", id="gameSelector")
                                option(value="all") Any
                                option(value="legends-arceus") Legends Areceus
                                option(value="brilliant-diamond-and-shining-pearl") Brilliant Diamond / Shining Perl
                                option(value="sword-shield") Sword / Shield
                                option(value="lets-go-pikachu-lets-go-eevee") Let's Go Pikachu / Eevee 
                                option(value="ultra-sun-ultra-moon") Ultra Sun / Ultra Moon
                                option(value="sun-moon") Sun / Moon
                                option(value="omega-ruby-alpha-sapphire") Omega Ruby / Alpha Sapphire
                                option(value="x-y") X / Y
                                option(value="black-2-white-2") Black 2 / White 2
                                option(value="black-white") Black / White
                                option(value="heartgold-soulsilver") Heart Gold / Sould Silver
                                option(value="platinum") Platinum
                                option(value="diamond-perl") Diamond / Perl
                                option(value="firered-leafgreen") Firered / Leafgreen
                                option(value="emerald") Emerald
                                option(value="ruby-sapphire") Ruby / Sapphire
                                option(value="crystal") Crystal
                                option(value="gold-silver") Gold / Silver
                                option(value="yellow") Yellow
                                option(value="red-blue") Red / Blue
                footer.modal-card-foot
                    button.button(onclick="document.forms['search'].submit()").is-info Search
                    button.button(onclick="closeFilter();") Cancel
    
    if results
        p.title.is-3 Results for "#{searchTerm}"

        if results.Pokemon.length !== 0
            p.title.is-4 Pokémon
            div.container#PokemonResults
                each pokemon in results.Pokemon
                    .card(onclick=`location.href='${pokemon.link}'`).mb-3
                        .card-content
                            figure.container(style="display: flex; align-items: center;")
                                img.is-48x48(src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`, alt='Pokemon Icon').mr-1
                                p.mr-3 ##{pokemon.id}
                                if pokemon.german === pokemon.english
                                    a.card-text #{pokemon.german}
                                else
                                    a.card-text #{pokemon.german} - #{pokemon.english}
        if results.Items.length !== 0
            p.title.is-4 Items
            div.container#ItemResults
                each item in results.Items
                    .card(onclick=`location.href='${item.link}'`).mb-3
                        .card-content
                            figure.container(style="display: flex; align-items: center;")
                                img.is-48x48(src=`${item.sprite}`, style="height: 30px; width: 30px;" alt='Item Icon', onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png'").mr-1
                                if item.german === item.english
                                    a.card-text #{item.german}
                                else
                                    a.card-text #{item.german} - #{item.english}
        
        if results.Moves.length !== 0
            p.title.is-4 Moves
            div.container#MoveResults
                each move in results.Moves
                    .card(onclick=`location.href='${move.link}'`).mb-3
                        .card-content
                            figure.container(style="align-items: center;")
                                .container(style="display: inline-grid").mr-3
                                    img.icon(src=`${move.attack_type_sprite}`, style="width: 50px; height: 20px;" alt='Move type Icon').pb-1
                                    img.icon(src=`${move.type_sprite}`, alt='Type Icon', style="width: 50px; height: 20px;")
                                if move.german === move.english
                                    a.card-text #{move.german}
                                else
                                    a.card-text #{move.german} - #{move.english}

        if results.Abilities.length !== 0
            p.title.is-4 Abilities
            div.container#AbilityResults
                each ability in results.Abilities
                    .card(onclick=`location.href='${ability.link}'`).mb-3
                        .card-content
                            if ability.german === ability.english
                                a.card-text #{ability.german}
                            else
                                a.card-text #{ability.german} - #{ability.english}