extends ./header.pug
block append head
	meta(
		property="og:image",
		content="https://pokemon.helbling.uk/static/previews/generic.png"
	)
	meta(
		property="twitter:image",
		content="https://pokemon.helbling.uk/static/previews/generic.png"
	)
	meta(
		property="og:description",
		content=`Item: ${primaryName ? primaryName : secondaryName} on the Pokécompanion`
	)
	meta(
		name="twitter:description",
		content=`Item: ${primaryName ? primaryName : secondaryName} on the Pokécompanion`
	)

block append body
	.columns.is-mobile
		.column.is-half.is-flex(style="justify-content: start")
			if (id - 1 > 0)
				.card.otherEntry.is-pulled-left(style="min-width: 60%; flex: 1 1 0")
					a.keepQuery.invisible(href=`/item/${id-1}`)
						.card-content.otherEntryContent.is-flex
							#itemNavPrev.columns(style="width: 100%")
								.column.is-one-quarter.has-text-centered(style="min-width: 40px; padding: 0")
									img.itemSprite.is-square(
										src=`${previousItemSprite}`,
										alt="The sprite for another item."
									)
								.column.is-three-quarter
									p(style="word-wrap: anywhere; min-width: 100%") #{ previousItemName }
		.column.is-half.is-flex(style="justify-content: end")
			if (id + 1 < highestItemId)
			.card.otherEntry.is-pulled-right(style="min-width: 60%; flex: 1 1 0")
				a.keepQuery.invisible(href=`/item/${id+1}`)
					.card-content.otherEntryContent.is-flex(style="justify-content: end")
						#itemNavNext.columns(style="width: 100%")
							.column.is-three-quarter
								p(style="word-wrap: anywhere; min-width: 100%") #{ nextItemName }
							.column.is-one-quarter.has-text-centered(style="min-width: 40px; padding: 0")
								img.itemSprite.is-square(
									src=`${nextItemSprite}`,
									alt="The sprite for another item."
								)

	.columns
		//- Overview
		.column.is-flex
			.card(style="width: 100%")
				.card-header-title.is-justify-content-space-between
					if primaryName && !secondaryName
						p #{ primaryName }
					else if !primaryName && secondaryName
						p #{ secondaryName }
					else if primaryName === secondaryName
						p #{ primaryName }
					else
						p #{ primaryName } - #{ secondaryName }

				.card-content
					.columns.is-mobile
						.column.has-text-centered.is-one-half
							img(
								src=`${itemSprite}`,
								style="height: 50px; width: 50px",
								alt=`The sprite for ${primaryName}`
							) 
						.column.has-text-centered(style="margin: auto")
							p Price: ₽ #{ price }
					if primaryLangEntry.entry
						if primaryLangEntry.clickable.state
							.box.accented(
								onclick=`location.href='${primaryLangEntry.clickable.url}' + window.location.search`
							)
								if primaryLangEntry.game
									p.is-capitalized.has-text-weight-bold #{ primaryLangEntry.game }
								p.pt-2 #{ primaryLangEntry.entry }
						else
							.box.accented.nohover
								if primaryLangEntry.game
									p.is-capitalized.has-text-weight-bold #{ primaryLangEntry.game }
								p.pt-2 #{ primaryLangEntry.entry }
					if secondaryLangEntry.entry
						if secondaryLangEntry.clickable.state
							.box.accented.link(
								onclick=`location.href='${secondaryLangEntry.clickable.url}' + window.location.search`
							)
								if secondaryLangEntry.game
									p.is-capitalized.has-text-weight-bold #{ secondaryLangEntry.game }
								p.pt-2 #{ secondaryLangEntry.entry }
						else
							.box.accented.nohover
								if secondaryLangEntry.game
									p.is-capitalized.has-text-weight-bold #{ secondaryLangEntry.game }
								p.pt-2 #{ secondaryLangEntry.entry }

		//- Attributes
		.column.is-flex
			.card(style="width: 100%")
				.card-header-title.is-justify-content-space-between
					p Attributes
				.card-content
					table.table.is-bordered.is-narrow(style="width: 100%")
						thead
							tr
								th Attribute
								th.has-text-centered Yes
								th.has-text-centered No
						tbody
							tr
								td Holdable
								td.has-text-centered #{ holdable ? "✓" : "" }
								td.has-text-centered #{ holdable ? "" : "✓" }
							tr
								td Use in battle
								td.has-text-centered #{ battle ? "✓" : "" }
								td.has-text-centered #{ battle ? "" : "✓" }
							tr
								td Use in overworld
								td.has-text-centered #{ overworld ? "✓" : "" }
								td.has-text-centered #{ overworld ? "" : "✓" }
							tr
								td Use in underground
								td.has-text-centered #{ underground ? "✓" : "" }
								td.has-text-centered #{ underground ? "" : "✓" }
							tr
								td Works passively
								td.has-text-centered #{ holdablePassive ? "✓" : "" }
								td.has-text-centered #{ holdablePassive ? "" : "✓" }
							tr
								td Works actively
								td.has-text-centered #{ holdableActive ? "✓" : "" }
								td.has-text-centered #{ holdableActive ? "" : "✓" }
							tr
								td Countable
								td.has-text-centered #{ countable ? "✓" : "" }
								td.has-text-centered #{ countable ? "" : "✓" }
