extend  ./header.pug

block append body
    form(action="/search", method="get", id="search", onsubmit="addHistory();").pb-3
        .field.has-addons
            .control.is-expanded
                input.input(type="text", id="searchBar", name="term" placeholder="Search for something!" onsubmit="document.forms['search'].submit()")
            .control(onclick="openFilter();")
                button.button.is-static(data-target="filters")#filterButton Filters
        
        input(type="submit" hidden)#searchSubmit
        style.
            table#statsTable * {
                padding-left: 0;
                padding-right: 0;
            }
        .modal#filterModal(hidden)
            .modal-background(onclick="closeFilter();")
            .modal-card
                .modal-card-body
                    .box
                        p.title.is-5 Types of results
                        .columns
                            .column
                                input(type='checkbox', id='showPokemon', name="pokemon", value="true", checked).mr-2
                                label(for="showPokemon").pr-4 Pokémon
                            .column
                                input(type='checkbox', id='showItems', name="items", value="true", checked).mr-2
                                label(for="showItems").pr-4 Items
                            .column
                                input(type='checkbox', id='showMoves', name="moves", value="true", checked).mr-2
                                label(for="showMoves").pr-4 Moves
                            .column
                                input(type='checkbox', id='showAbilities', name="abilities" value="true", checked).mr-2
                                label(for="showAbilities").pr-4 Abilities
                    .box
                        p.title.is-5 Filter by game
                        .select(form="search", name="game")
                            select(form="search", name="game", id="gameSelector")
                                option(value="all") Any
                                option(value="legends-arceus") Legends Areceus
                                option(value="brilliant-diamond-and-shining-pearl") Brilliant Diamond / Shining Perl
                                option(value="sword-shield") Sword / Shield
                                option(value="lets-go-pikachu-lets-go-eevee") Let's Go Pikachu / Eevee 
                                option(value="ultra-sun-ultra-moon") Ultra Sun / Ultra Moon
                                option(value="sun-moon") Sun / Moon
                                option(value="omega-ruby-alpha-sapphire") Omega Ruby / Alpha Sapphire
                                option(value="x-y") X / Y
                                option(value="black-2-white-2") Black 2 / White 2
                                option(value="black-white") Black / White
                                option(value="heartgold-soulsilver") Heart Gold / Sould Silver
                                option(value="platinum") Platinum
                                option(value="diamond-perl") Diamond / Perl
                                option(value="firered-leafgreen") Firered / Leafgreen
                                option(value="emerald") Emerald
                                option(value="ruby-sapphire") Ruby / Sapphire
                                option(value="crystal") Crystal
                                option(value="gold-silver") Gold / Silver
                                option(value="yellow") Yellow
                                option(value="red-blue") Red / Blue
                footer.modal-card-foot
                    button.button(onclick="document.forms['search'].submit()").is-info Search
                    button.button(onclick="closeFilter();") Cancel
    
    if selectedGames.length > 0 && moveset.length === 0
        .notification.is-warning.is-light 
            p This Pokémon is not in the game you selected. Moveset and Pokédex entries are hidden.
    
    .columns
        .column
            .card
                .card-header-title.is-justify-content-space-between
                    if german === english
                        p #{german}
                    else
                        p #{german} - #{english}
                
                    div
                        each pType in types
                            img(src=`${pType.sprite}` style="width: 55px; height: 20px;").pl-2
                .card-content
                    .columns.mb-0.is-mobile
                        .column
                            img(src=`${sprite}` style="height: auto; width: 100%")#sprite-front
                        .column
                            if backSprite !== null
                                img(src=`${backSprite}` style="height: auto; width: 100%")#sprite-back
                            else
                                div.has-text-centered
                                    img(src=`${shinySprite}` style="height: auto; width: 100%")#sprite-back
                                    p.is-italic Shiny
        .column
            .card
                .card-header-title(onclick="toggleVisibility(this);")
                    p Evolution chain
                .card-content.pt-1
                    each evolution in evolutions
                        .columns.is-vcentered.is-mobile
                            .column.has-text-centered
                                img(src=`${evolution.sourceSprite}`, style="cursor: pointer;", onclick=`location.href='${evolution.sourceURL}'`)
                            .column.has-text-centered
                                if evolution.trigger.includes("Level")
                                    p #{evolution.trigger}
                                
                                else if evolution.trigger === "trade"
                                    p Trade

                                each requirement in evolution.requirements
                                    if requirement.type === "gender"
                                        p #{requirement.info}
                                    if requirement.type === "use-item"
                                        .container
                                            p(style="vertical-align: middle; display: inline;") Use
                                            img(src=`${requirement.info}`, onclick=`location.href='${requirement.supplementary}'`, style="cursor: pointer; vertical-align: middle;")
                                    if requirement.type === "hold-item"
                                        .container
                                            p(style="vertical-align: middle; display: inline;") Hold
                                            img(src=`${requirement.info}`, onclick=`location.href='${requirement.supplementary}'`, style="cursor: pointer; vertical-align: middle;")

                            .column.has-text-centered
                                img(src=`${evolution.targetSprite}`, style="cursor: pointer;", onclick=`location.href='${evolution.targetURL}'`)
    .columns
        .column
            .card
                .card-header-title(onclick="toggleVisibility(this);")
                    p Abilities
                .card-content
                    each ability in abilities
                        .box(onclick=`location.href='${ability.link}'`, style="cursor: pointer;")
                            p.has-text-weight-bold #{ability.name}
                            if ability.isHidden
                                p.is-italic Hidden
                            p #{ability.effect}
        .column
            .card
                .card-header-title(onclick="toggleVisibility(this);")
                    p Base stats
                .card-content
                    table.table(style="width: 100%")#statsTable
                        thead
                            tr
                                th Name
                                th Stat
                                th Avg
                                th EV
                        tbody
                            tr
                                if baseStats.hp.stat > 68 + 5
                                    td.has-text-success-dark HP
                                else if baseStats.hp.stat < 68 - 5
                                    td.has-text-danger-dark HP
                                else 
                                    td HP
                                td #{baseStats.hp.stat}
                                td 68
                                td #{baseStats.hp.effort}
                            tr
                                if baseStats.attack.stat > 76 + 5
                                    td.has-text-success-dark Attack
                                else if baseStats.attack.stat < 76 - 5
                                    td.has-text-danger-dark Attack
                                else 
                                    td Attack
                                td #{baseStats.attack.stat}
                                td 76
                                td #{baseStats.attack.effort}
                            tr
                                if baseStats.defense.stat > 72 + 5
                                    td.has-text-success-dark Defense
                                else if baseStats.defense.stat < 72 - 5
                                    td.has-text-danger-dark Defense
                                else 
                                    td Defense
                                td #{baseStats.defense.stat}
                                td 72
                                td #{baseStats.defense.effort}
                            tr
                                if baseStats.special_attack.stat > 70 + 5
                                    td.has-text-success-dark Special Attack
                                else if baseStats.special_attack.stat < 70 - 5
                                    td.has-text-danger-dark Special Attack
                                else 
                                    td Special Attack
                                td #{baseStats.special_attack.stat}
                                td 70
                                td #{baseStats.special_attack.effort}
                            tr
                                if baseStats.special_defense.stat > 70 + 5
                                    td.has-text-success-dark Special Defense
                                else if baseStats.special_defense.stat < 70 - 5
                                    td.has-text-danger-dark Special Defense
                                else 
                                    td Special Defense
                                td #{baseStats.special_defense.stat}
                                td 70
                                td #{baseStats.special_defense.effort}
                            tr
                                if baseStats.speed.stat > 66 + 5
                                    td.has-text-success-dark Speed
                                else if baseStats.speed.stat < 66 - 5
                                    td.has-text-danger-dark Speed
                                else 
                                    td Speed
                                td #{baseStats.speed.stat}
                                td 66
                                td #{baseStats.speed.effort}
                            tfoot
                                tr
                                    th Pkmn Base Stat:
                                    td #{((baseStats.hp.stat + baseStats.attack.stat + baseStats.defense.stat + baseStats.special_attack.stat + baseStats.special_defense.stat + baseStats.speed.stat) / 6).toFixed(2)}
                                    td 70.85

    .columns
        .column
            .card
                .card-header-title(onclick="toggleVisibility(this);")
                    p Other Info
                .card-content
                    p.title.is-6 Catch rate: #{captureRate}
                    progress.progress.is-medium(max=255, value=`${captureRate}`) #{captureRate}%
                    p This is the base capture rate of this Pokémon - it should be used as an approximation for how difficult it is to catch. A higher catch rate means a Pokémon is easier to catch.
                    br
                    p.title.is-6.mb-2 Growth rate: #{growthRate}
                    p How quickly this Pokémon is able to level-up
    
    if moveset.length > 0
        .columns
            .column
                .card
                    .card-header-title(onclick="toggleVisibility(this);")
                        p Pokédex entry
                    .card-content.pt-1
                        .columns
                            .column
                                p Weight: #{weight} kg
                            .column
                                p Height: #{height}0 cm
                        if pokedex.length > 0
                            each entry in pokedex
                                p.is-capitalized.has-text-weight-bold #{entry.game}
                                p.pb-2 #{entry.entry}
            .column
                .card
                    .card-header-title(onclick="toggleVisibility(this);")
                        p Moveset
                    .card-content.pt-1
                        table.table(style="width: 100%").is-striped.is-hoverable
                            thead
                                tr
                                    th.pl-0 Type
                                    th.pl-0 Name
                                    th.pl-0 Level
                            tbody(style="width: 100%")
                            for move in moveset
                                tr(onclick=`location.href='${move.link}'`, style="cursor: pointer;")
                                    td(style="width: 70px;").pl-0
                                        .container(style="display: inline-grid")
                                            img.icon(src=`${move.type_sprite}`, style="width: 50px; height: 20px;" alt='Move type Icon').tableImage
                                            img.icon(src=`${move.attack_type_sprite}`, alt='Type Icon', style="width: 50px; height: 20px;").tableImage.mt-1
                                    td.pl-0
                                        if move.german === move.english
                                            p #{move.german}
                                        else 
                                            p #{move.german}
                                            p #{move.english}
                                    td.pl-0
                                        if move.learning_method !== "level-up"
                                            if move.learning_method === "machine"
                                                p TM/VM
                                            else if move.learning_method === "tutor"
                                                p Erlernt
                                                p Tutor
                                            else if move.learning_method === "egg"
                                                p Ei
                                                p Egg
                                        else
                                            p Lv. #{move.level_learnt}  
            


    

