extends ./header.pug
block append head
	meta(
		property="og:image",
		content="https://dev.pokemon.helbling.uk/static/previews/generic.png"
	)
	meta(
		name="twitter:image",
		content="https://dev.pokemon.helbling.uk/static/previews/generic.png"
	)
	meta(
		name="description",
		content="With Pokécompanion you can quickly find the details you need during your playthrough of a mainline Pokémon game - without scrolling past a sea of irrelevant info."
	)
	meta(
		property="og:description",
		content="With Pokécompanion you can quickly find the details you need during your playthrough of a mainline Pokémon game - without scrolling past a sea of irrelevant info."
	)
	meta(
		name="twitter:description",
		content="With Pokécompanion you can quickly find the details you need during your playthrough of a mainline Pokémon game - without scrolling past a sea of irrelevant info."
	)

block append body
	p.title.is-3 Results for "#{ searchTerm }"

	if results.Pokemon.length === 0 && results.Items.length === 0 && results.Moves.length === 0 && results.Abilities.length === 0
		p Your search returned no results :(
		//- TODO Provide a bit more detail perhaps?
		//- Also what about including a Mimikyu or similar?

	if results.Pokemon.length !== 0
		p.title.is-4 Pokémon
		#PokemonResults.container
			each pokemon in results.Pokemon
				a.keepQuery(href=`${pokemon.link}`)
					.card.mb-3
						.card-content.searchResult(style="display: flex; align-items: center")
							img.is-48x48.mr-1(
								src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`,
								alt="Pokemon Icon"
							)
							if pokemon.primaryLang === pokemon.secondaryLang
								p.card-text ##{ pokemon.id } #{ pokemon.primaryLang }
							else
								p.card-text ##{ pokemon.id } #{ pokemon.primaryLang } - #{ pokemon.secondaryLang }

	if results.Items.length !== 0
		p.title.is-4 Items
		#ItemResults.container
			each item in results.Items
				a.keepQuery(href=`${item.link}`)
					.card.mb-3
						.card-content.searchResult(style="display: flex; align-items: center")
							img.is-48x48.mr-1(
								src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/${item.name}.png`,
								style="height: 30px; width: 30px",
								alt="Item Icon"
							)
							if item.primaryLang === item.secondaryLang
								p.card-text #{ item.primaryLang }
							else
								p.card-text #{ item.primaryLang } - #{ item.secondaryLang }

	if results.Moves.length !== 0
		p.title.is-4 Moves
		#MoveResults.container
			each move in results.Moves
				a.keepQuery(href=`${move.link}`)
					.card.mb-3
						.card-content.searchResult
							.container.mb-1(style="display: inline-flex")
								img.icon.mr-2.typeSprite(src=`${move.type_sprite}`, alt="Type Icon")
								p.card-text #{ move.english }
							.container.mb-1(style="display: flex")
								img.icon.mr-2.typeSprite(src=`${move.attack_type_sprite}`, alt="Type Icon")
								p.card-text #{ move.german }

	if results.Abilities.length !== 0
		p.title.is-4 Abilities
		#AbilityResults.container
			each ability in results.Abilities
				a.keepQuery(href=`${ability.link}`)
					.card.mb-3
						.card-content.searchResult
							if ability.primaryLang === ability.secondaryLang
								p.card-text #{ ability.primaryLang }
							else
								p.card-text #{ ability.primaryLang } - #{ ability.secondaryLang }
