extends ./header.pug

block append body
	p.title.is-3 Results for "#{ searchTerm }"
	if results.Pokemon.length !== 0
		p.title.is-4 Pokémon
		#PokemonResults.container
			each pokemon in results.Pokemon
				.card.mb-3(onclick=`location.href='${pokemon.link}' + window.location.search`)
					.card-content
						figure.container(style="display: flex; align-items: center")
							img.is-48x48.mr-1(
								src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`,
								alt="Pokemon Icon"
							)
							p.mr-3 ##{ pokemon.id }
							if pokemon.german === pokemon.english
								a.card-text #{ pokemon.german }
							else
								a.card-text #{ pokemon.german } - #{ pokemon.english }
	if results.Items.length !== 0
		p.title.is-4 Items
		#ItemResults.container
			each item in results.Items
				.card.mb-3(onclick=`location.href='${item.link}'  + window.location.search`)
					.card-content
						figure.container(style="display: flex; align-items: center")
							img.is-48x48.mr-1(
								src=`${item.sprite}`,
								style="height: 30px; width: 30px",
								alt="Item Icon",
								onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png'"
							)
							if item.german === item.english
								a.card-text #{ item.german }
							else
								a.card-text #{ item.german } - #{ item.english }

	if results.Moves.length !== 0
		p.title.is-4 Moves
		#MoveResults.container
			each move in results.Moves
				.card.mb-3(onclick=`location.href='${move.link}' + window.location.search`)
					.card-content
						figure.container(style="align-items: center")
							.container.mr-3(style="display: inline-grid")
								img.icon.pb-1(
									src=`${move.attack_type_sprite}`,
									style="width: 50px; height: 20px",
									alt="Move type Icon"
								)
								img.icon(
									src=`${move.type_sprite}`,
									alt="Type Icon",
									style="width: 50px; height: 20px"
								)
							if move.german === move.english
								a.card-text #{ move.german }
							else
								a.card-text #{ move.german } - #{ move.english }

	if results.Abilities.length !== 0
		p.title.is-4 Abilities
		#AbilityResults.container
			each ability in results.Abilities
				.card.mb-3(onclick=`location.href='${ability.link}' + window.location.search`)
					.card-content
						if ability.german === ability.english
							a.card-text #{ ability.german }
						else
							a.card-text #{ ability.german } - #{ ability.english }
